<h1>Cart</h1>
<p>Item name: <%= @item.name %></p>
<p>Quantity: <%= @cart.quantity %></p>
<p>Price: <%= @cart.price %></p>
<p>Total cost: <%= @cart.quantity * @cart.price %></p>
  <%= link_to("back to items",items_path, class: "btn btn-primary") %>
