<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <%= link_to root_path do %>
    <%# <%= image_tag "paw.png", alt: "alttext", class: "logo", style: "height=40px" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <%= link_to "Store index", items_path, class: "nav-link" %>
      </li>
        <% if user_signed_in? %>
          <div> <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link nav-link-delete" %>
        <% else %>
          <%= link_to "Sign in", user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
